#cartTable {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-collapse: collapse;
    width: 100%; 
}

#cartTable td, #cartTable th {
    border: 1px solid #ddd;
    padding: 8px; 
}

#cartTable tr:nth-child(even)
{background-color: #f2f2f2;}

#cartTable tr:hover {
    background-color: #ddd;
}

#cartTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #ff660017;
    color: black;
}