.Purchasing {
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
}

.Purchasing-others {
    padding-left: 60px;
    padding-right: 60px;
    position: relative;
}

.head-title {
    text-align: center;
    font-size: 36px;
    margin-top: -1px;
    color: #ff5520;
    margin-bottom: -1px;
}

hr {
    border: 2px solid #ff5520;
    margin-left: 20px;
    margin-right: 20px;
}

div.btn-inline {
    align-items: center;
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}

button.btn-inline-purchasing {
    border: #ff5520 2px solid;
    border-radius: 20px;
    padding: 10px;
    width: 250px;
    background-color: white;
    font-weight: bold;
}

button.btn-inline-purchasing:hover {
    background-color: #ff5520;
    color: white;
    cursor: pointer;
}

span.search {
    border: #ff5520 2px solid;
    color: #ff5520;
    padding: 10px;
    padding-left: 20px;
    background-color: white;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    font-size: 11px;
    border-right: none;
}

input.search {
    border: #ff5520 2px solid;
    padding: 10px;
    border-left: 1px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    width: 300px;
}

input.search:focus {
    outline: none;
}

div.semi-preview-container-purchasing {
    width: 25%;
    background-color: #81C3D8;
    padding: 30px;
    text-align: center;
    color: white;
    font-weight: bold;
}

span.semi-preview-container-purchasing {
    color: #ff5520;
    font-weight: bold;
    font-size: x-large;
}

.div-frame {
    border: 2px solid #ff5520;
    border-radius: 10px;
}

.head-div {
    width: 81%;
    position: fixed;
    background-color: white;
    z-index: 1;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

table.table-home {
    width: 100%;
    border-collapse: collapse;
}

td.table-home {
    text-align: center;
    border-right: 2px solid black;
}

th.table-home {
    border-right: 2px solid black;
    background-color: #D9D9D9;
    padding-top: 5px;
    padding-bottom: 7px;
}

.btn-inline-table {
    align-items: center;
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}

.inline-form {
    align-items: center;
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}

label {
    font-weight: bold;
}

.form-input {
    width: 99%;
    border: 1px solid #ff5520;
    border-radius: 8px;
    height: 30px;
    font-size: 16px;
    margin-bottom: 15px;
    margin-top: 5px;
}

.form-input:focus {
    outline: none;
    border: 2px solid #ff5520;
}

.form-select {
    width: 100%;
    border: 1px solid #ff5520;
    border-radius: 8px;
    height: 35px;
    font-size: 16px;
    margin-bottom: 15px;
    margin-top: 5px;
}

.form-select:focus {
    outline: none;
    border: 2px solid #ff5520;
}

.form-textarea-purchasing {
    border: 1px solid #ff5520;
    border-radius: 8px;
    width: 99%;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 15px;
}

.form-textarea-purchasing:focus {
    outline: none;
    border: 2px solid #ff5520;
}

input.add-stock-input {
    border: 1px solid #ff5520;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    width: 85%;
    height: 30px;
}

input.add-stock-input:focus {
    outline: none;
}

button.remove-stock-input {
    border: 1px solid #ff5520;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    border-left: none;
    width: 6%;
    height: 34px;
    background-color: #DC3545;
    color: white;
}

button.remove-stock-input:focus {
    outline: none;
}

button.remove-stock-input:hover {
    background-color: #bb2d3b;
}

input.add-stock-qty-input {
    border: 1px solid #ff5520;
    border-left: none;
    width: 6%;
    height: 30px;
}

input.add-stock-qty-input:focus {
    outline: none;
}

div.add-stock-input {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 5px;
    background-color: white;
}

.form-main {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.gray-box {
    background-color: #f2f2f2;
    border-radius: 20px;
    margin-bottom: 10px;
}

.form-btn {
    margin-right: auto;
    margin-left: auto;
    width: 43.5%;
}

input.add-item-input {
    border: 1px solid #ff5520;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    width: 74%;
    height: 30px;
}

div.add-item-input {
    width: 75%;
    border-right: #ff5520 1px solid;
}

input.add-input:focus {
    outline: none;
}

input.add-item-qty-input {
    border: 1px solid #ff5520;
    border-left: none;
    width: 6%;
    height: 30px;
}

div.add-item-qty-input {
    width: 6%;
    border-right: #ff5520 1px solid;
}

input.add-item-price-input {
    border: 1px solid #ff5520;
    border-left: none;
    width: 10.8%;
    height: 30px;
}

div.add-item-price-input {
    width: 17%;
}

button.remove-item-input {
    border: 1px solid #ff5520;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    border-left: none;
    width: 6%;
    height: 34px;
    background-color: #DC3545;
    color: white;
}

button.remove-item-input:focus {
    outline: none;
}

button.remove-item-input:hover {
    background-color: #bb2d3b;
}


/*pop-up*/

.popUp20 {
    height: 20%;
}

.popUp40 {
    height: 40%;
}

.popUp60 {
    height: 60%;
}

.popUp90 {
    height: 86%;
}

.zoom-in {
    animation: zoom-in 0.3s ease-out;
    background-color: white;
    padding: 15px;
    padding-top: 0;
    padding-bottom: 0;
    border: 2px solid #ff5520;
    border-radius: 10px;
    width: 50%;
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: scroll
}

@keyframes zoom-in {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}


/*----*/

.form-preview-container {
    width: 30%;
    border: 1px solid #ff5520;
    border-radius: 8px;
    padding: 5px;
    text-align: center;
}


/*table {
    border-collapse: collapse;
    width: 100%;
    border: 1px soli white;
}

th {
    background-color: #ff5520;
    color: #fff;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

td,
th {
    border: 1px solid #ff5520;
    padding: 8px;
    text-align: left;
}

tr:hover {
    background-color: #ddd;
}*/

.spec-btn-inline {
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}


/*table*/

.details-table {
    border-collapse: collapse;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 15px 15px 0 0;
    padding: 50%;
    width: 100%;
}

.details-table thead tr {
    background-color: #ff5520;
    color: white;
    text-align: center;
    font-weight: bold;
}

.details-table th,
.details-table td {
    padding: 5px;
    text-align: center;
    border-right: 2px solid #ff5520;
}

.details-table th {
    padding-top: 10px;
    padding-bottom: 10px;
}

.details-table tbody tr {
    border-bottom: 1px solid #D9D9D9;
}

.details-table tbody tr:nth-of-type(even) {
    background-color: #f2f2f2;
}

.details-table tr:last-of-type td:first-child {
    border-bottom-left-radius: 7px;
}

.details-table tr:last-of-type td:last-child {
    border-bottom-right-radius: 7px;
}

.tData {
    align-items: center;
}


/*------------------------*/


/*Report Generating Part*/

.report-main {
    margin-bottom: 20px;
}

.disable {
    display: none;
}

.enable {
    display: block;
}

.otherPurchase {}

.bothOrderPurchase {}

.PDFpreview {
    border: 1px solid black;
    padding: 10px 20px;
    text-align: center;
}

.pdfTable {
    border: 2px solid #D9D9D9;
    border-collapse: collapse;
    width: 100%;
}

.pdfTable thead tr {
    background-color: #1abd9c;
    color: white;
}

.pdfTable tbody td {
    border: 2px solid #D9D9D9;
}


/*chart*/

.chartCenter {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.visible {
    display: flex;
    width: 100%;
    height: 10%;
    text-align: center;
    padding-left: 30%;
    margin-top: auto;
    margin-bottom: auto;
}

.nonVisible {
    display: none;
}